<nav class="uk-navbar-container uk-margin-bottom" uk-navbar>
    <div class="uk-navbar">
        <a class="uk-navbar-item" href="/{{d12n.language}}/"><strong>{{ d12n.strings.title }}</strong></a>

        <ul class="uk-navbar-nav uk-visible@s">
            <li>
                <a href="/{{d12n.language}}/archive">{{ d12n.strings.navigation.archive }}</a>
            </li>
            <li>
                <a href="/{{d12n.language}}/status">{{ d12n.strings.navigation.status }}</a>
            </li>
        </ul>
    </div>

    <div class="uk-width-expand"></div>
    <div class="uk-navbar">
        <a class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav"></a>
        <ul class="uk-navbar-nav uk-visible@s">
            {{#d12n.navigation}}
                <li>
                    <a href="{{href}}">{{name}}</a>
                </li>
            {{/d12n.navigation}}
        </ul>
    </div>
</nav>

<div id="offcanvas-nav" uk-offcanvas="{{d12n.strings.navigation.menuFlip}}">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header">{{ d12n.strings.navigation.navigation }}</li>
            <li>
                <a href="/{{d12n.language}}/">{{ d12n.strings.navigation.home }}</a>
            </li>
            <li>
                <a href="/{{d12n.language}}/archive">{{ d12n.strings.navigation.archive }}</a>
            </li>
            <li>
                <a href="/{{d12n.language}}/status">{{ d12n.strings.navigation.status }}</a>
            </li>
            <li class="uk-nav-header">{{ d12n.strings.navigation.languages }}</li>
            {{#d12n.navigation}}
                <li>
                    <a href="{{href}}">{{name}}</a>
                </li>
            {{/d12n.navigation}}
        </ul>
    </div>
</div>