{{> header}}

<div class="uk-child-width-expand" uk-grid>
    <div>
        <h4 class="uk-heading-line"><span>{{ d12n.strings.status.storage }}</span></h4>
        <div class="uk-width-expand" uk-grid>
            <dl class="uk-description-list"> <dt>{{ d12n.strings.status.records }}</dt> <dd>{{records}}</dd> </dl>
            <dl class="uk-description-list"> <dt>{{ d12n.strings.status.missingRecords }}</dt> <dd>{{missingRecords}}</dd> </dl>
            <dl class="uk-description-list"> <dt>{{ d12n.strings.status.mediaFiles }}</dt> <dd>{{mediaFiles}}</dd> </dl>
            <dl class="uk-description-list"> <dt>{{ d12n.strings.status.mediaSize }}</dt> <dd>{{mediaSize}}</dd> </dl>
        </div>

    </div>
    <div>
        <h4 class="uk-heading-line"><span>{{ d12n.strings.status.activeWork }}</span></h4>
        <div class="uk-width-expand" uk-grid>
            <dl class="uk-description-list"> <dt>{{ d12n.strings.status.gatherJobs }}</dt> <dd>{{gatherJobs}}</dd> </dl>
            <dl class="uk-description-list"> <dt>{{ d12n.strings.status.extractJobs }}</dt> <dd>{{extractJobs}}</dd> </dl>
            <dl class="uk-description-list"> <dt>{{ d12n.strings.status.mediaJobs }}</dt> <dd>{{mediaJobs}}</dd> </dl>
        </div>

        <h4 class="uk-heading-line"><span>{{ d12n.strings.status.scheduledWork }}</span></h4>
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <td> Twitter Hashtag Search </td>
                </tr>
            </thead>
            <tbody>
                {{#recurringHashtagBacklogJobs}}
                <tr>
                    <td>{{job.hashtag}}</td>
                </tr>
                {{/recurringHashtagBacklogJobs}}
            </tbody>
        </table>
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <td> Twitter Account Search </td>
                </tr>
            </thead>
            <tbody>
                {{#recurringAccountBacklogJobs}}
                <tr>
                    <td>{{job.account}}</td>
                </tr>
                {{/recurringAccountBacklogJobs}}
            </tbody>
        </table>
    </div>

</div>


{{> footer}}